{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'mainsite/styles.css' %}">
    <link rel="icon" href="{% static 'images/foxv1.png' %}" type="image/png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}About{% endblock %}</title>
</head>
<body class="page-layout">
    <header>
        <div class="title">
            <h1>about</h1>
        </div>
    </header>

    <main>
        {% block content %}
        <div class="paragraphs">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tempor bibendum dolor, in lacinia augue efficitur a. 
                Nulla facilisi. Donec ante lacus, lacinia nec libero a, rutrum mollis diam. Vivamus ac volutpat nunc. Duis erat urna, 
                scelerisque et molestie at, aliquam at diam. Nullam mattis finibus nibh vitae efficitur. Phasellus ornare, risus nec 
                sollicitudin vulputate, neque arcu rutrum ipsum, vel dapibus justo est vel justo. Suspendisse fermentum ligula a metus tempus, 
                sed vehicula ex lobortis. Proin semper risus nec volutpat maximus. Phasellus et orci feugiat, consectetur elit at, scelerisque arcu. </p>
            <p>Aliquam metus nisi, convallis sed dignissim nec, viverra in nunc. Sed porttitor, mauris sit amet feugiat laoreet, 
                mauris purus pharetra lectus, et commodo nunc sapien vel magna. Ut in libero quis odio tincidunt auctor. 
                Etiam in ante et mauris venenatis lobortis a vel ipsum. In hac habitasse platea dictumst. Suspendisse turpis velit, 
                pretium nec eros sed, euismod gravida urna. Phasellus varius quis massa maximus porta. Pellentesque non lacus nulla. 
                Suspendisse potenti. Fusce risus sapien, aliquet eget tellus nec, semper aliquet sapien. Aenean at felis non velit vehicula 
                pellentesque. Maecenas interdum maximus turpis, sed porttitor est condimentum vel. Suspendisse id elit vel ipsum consectetur 
                sodales. Mauris eget luctus tellus, eu iaculis eros. 
            </p>
        </div>
        {% endblock %}
    </main>
    <footer class="bottom-bar">
        <div class="bottom-left">
            <a href="/" class="name">bernie</a>
            <a href="/about/">about</a>
            <a href="/projects">projects</a>
            <a href="/contact/">contact</a>
        </div>
    </footer>
</body>
</html>