{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'mainsite/styles.css' %}">
    <link rel="icon" href="{% static 'images/foxv1.png' %}" type="image/png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Contact{% endblock %}</title>
</head>
<body class="page-layout">
    <header>
        <div class="title">
            <h1>contact</h1>
        </div>
    </header>

    <main>
        {% block content %}
    <div class="paragraphs">
        <div class="contact-item">
            <div class="contact-label">Email</div>
            <div class="contact-value"><a href="mailto:asovace@gmail.com">asovace@gmail.com</a></div>
        </div>

        <div class="contact-item">
            <div class="contact-label">LinkedIn</div>
            <div class="contact-value"><a href="https://www.linkedin.com/in/bernie-laird-40b4a0266/">Bernie Laird</a></div>
        </div>

        <div class="contact-item">
            <div class="contact-label">GitHub</div>
            <div class="contact-value"><a href="https://github.com/bernielaird">bernielaird</a></div>
        </div>
    </div>
        {% endblock %}
    </main>
    <footer class="bottom-bar">
        <div class="bottom-left">
            <a href="/" class="name">bernie</a>
            <a href="/about/">about</a>
            <a href="/projects">projects</a>
            <a href="/contact/">contact</a>
        </div>
    </footer>

</body>
</html>