{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'mainsite/styles.css' %}">
    <link rel="icon" href="{% static 'images/foxv1.png' %}" type="image/png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home{% endblock %}</title>
</head>
<body class="hero-page">
    <div class="center-block">
        <div class="typewriter">
            <h1>hi im <span class="name">bernie</span> :)</h1>
        </div>

        <nav class="link-container">
            <a href="/about/">about</a>
            <a href="/projects/">projects</a>
            <a href="/contact/">contact</a>
        </nav>
    </div>
    <main>
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>